

:not(header) > .css,
:not(header) > .js,
:not(header) > .html,
:not(header) > .key {
  margin: 0 5px;
  bottom: 4px;
}


.css {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff4), to(#ffa));
  background-color: #ff4;
  background: -moz-linear-gradient(left top, #ff4, #ffa);
}
.js {
  background: -webkit-gradient(linear, left top, left bottom, from(#4f4), to(#afa));
  background-color: #4f4;
  background: -moz-linear-gradient(left top, #4f4, #afa);
}
.html {
  background: -webkit-gradient(linear, left top, left bottom, from(#e88), to(#fee));
  background-color: #e88;
  background: -moz-linear-gradient(left top, #e88, #fee);
}


.css,
.js,
.html,
.key {
  font-family: 'Droid Sans';
  color: black;
  display: inline-block;
  padding: 6px 10px 3px 10px;
  font-size: 25px;
  line-height: 30px;
  text-shadow: none;
  letter-spacing: 0;
  bottom: 10px;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
}

.key { font-family: Arial; }
