<style type="text/css" media="screen">
  #mac0 header {
  }

</style>

<div id="mac0" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    The Unexpected
  </header>
  <details>
    By Shane Mac
  </details>
  <section>
    <p>We spend much of our lives doing what is asked of us. Doing what we are told. Doing what others expect.</p>
    <p>Doing the expected will usually get you the expected outcome. Whether it be business, career, friendship or just giving a helping hand when asked.</p>
    <p>Stop.</p>
    <p>Now think about everything you could do that people wouldn't expect. A simple hello to a stranger. A card to a friend. A helping hand when not asked. A birthday call 3 days early. A compliment for no reason. A pair of shoes to the needy. The list is endless.</p>
    <p>The unexpected is how you create true emotional connections with people and in return can bring about fulfillment. The smile you will get when someone doesn't expect something is completely different than when they do.</p>
    <p>Go do something unexpected. Now.</p>
  </section>
  <footer>
    Shane Mac post ideas and projects at <a href="http://shanemac.me">http://shanemac.me.</a> His book, Stop With The BS, is coming out Fall 2010.
  </footer>
</div>

