<style type="text/css" media="screen">
  #wambaugh1 header {
    background-color: #00a59d;
  }
  #wambaugh1 p{
    font-size: 12.50pt;
  }
</style>

<div id="wambaugh1" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>Forest Ranger</header>
  <details>
    By Abby Wambaugh
  </details>
  <section>
    <p><strong>I wish I had known all my options</strong> before begininng my career. Most of us graduate from high school with a limited view of the career options available. Then suddenly we’re thrust into college, left to pick a direction from day one, to set our future in motion.</p>
    <p>I spent a year living in England after I graduated from high school, then suddenly I was back in the states at college orientation. I had a mild panic attack when they set me in front of a computer and told me to pick classes based on my degree path. Aren’t you supposed to be counseling me in this degree path? Maybe others had a better experience than me - maybe their career test in the 8th grade yielded results other than park ranger.</p>
    <p>It was a crooked road that lead me to public relations. I thought I would like my choice. I was good at it. I had fantastic internships –landed a wonderful first job. I was the lead spokesperson for an internationally recognized brand by age 24, but I didn’t enjoy it. Now I’m left discovering what’s next for me. I wish I had known and explored all my options. I wish someone had told me that my personality needs to be intellectually challenged and doesn’t thrive in a corporate environment.</p>
    <p>I believe it often takes us a while to find our niche, and sometimes the crooked road we take is the best road possible. All this to say, know your options, seek wise counsel and don’t ever feel rushed into a decision that will impact the rest of your life.</p>
  </section>
  <footer>
    <div class="about">
      Abby Wambaugh is a marketing manager for a major transportation company.
      She <a href="#">tweets</a>, <a href="#">writes</a> and loves the mountains.
      She is not currently a park ranger.
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Abby Wambaugh" %>
</div>

