<style type="text/css" media="screen">
  #swenson2 header {
    font-size:40pt;
    text-align:center;
    background-color:#E58023;
    width:500px;
    color: #fff;
  }
  #swenson2 header span {
    font-size:18pt;
    display:block;
    line-height:1em;
    margin-bottom:7px;
    margin-top:-9px;
  }

  #swenson2 section {
    margin-top: 135px
  }

  #swenson2 section p{
    font-size:11pt;
    display:block;
    margin-top: 0px;
    margin-bottom: 11px;
  }

  #swenson2 section ul li {
    padding: 5px 0;
  }

  /* OPTIONAL: redo footer */


</style>

<div id="swenson2" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Give Your All, <span>but relax</span>
  </header>
  <details>
    Andrew Swenson
  </details>
  <section>
    <p><strong>It felt like I had swallowed a live mouse.</strong> On the table was:</p>
    <ul>
      <li>a contract worth roughly $600,000</li>
      <li>a contract that could make or break our tiny agency’s budget</li>
      <li>a contract that represented months of hard work</li>
      <li>a contract my VP and I were finally presenting after six(!) hours of meetings</li>
      <li>a contract that I had personally written. Every word.</li>
    </ul>

    <p>In the worst dip of our recession, it was a contract we needed.
    Our firm had already endured layoffs, and as two of the primary drivers of business development (me in mar- keting and my VP in sales), we felt responsible. It’s sickening to know that the quality of your work could cost someone their livelihood down the line. Our potential client took it, smiled, and walked us to the door. They had to talk about it one last time. I should have been filled with agony.</p>
    <p>But I wasn’t.</p>
    <p>For weeks I let pressure consume me, keep me up at night, give me stress migraines. But at last I had peace. I knew that I had done the best I could. Whatever decision they made was beyond my control.</p>
    <p>If I would have known just one thing, it would have been to relax earlier. Whether you’re worried about keeping your job, getting that promotion, or landing a client, things are either going to work out or they won’t. You give what you can give, and if it’s not good enough, chances are you’re more resilient than you think you are.</p>
    <p>And as for the client? They accepted. Turns out giving our all was good enough.</p>
  </section>
  <footer>
    Andrew Swenson is a marketing strategist, communication specialist, believer of youth in biz and lover of indie rock. He blogs at <a href="http://wordpost.org">wordpost.org</a> and tweets <a href="http://www.twitter.com/wordpost">@wordpost</a>
  </footer>
</div>

