<style type="text/css" media="screen">
  #gunnell3 header {
    text-align:center;
    background-color:#c03335;
    color: #fff;
  }
  #gunnell3 section {
    margin-top: 93px;
  }
  #gunnell3 section p{
    font-size:10pt;
    display:block;
  }
</style>

<div id="gunnell3" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Benefits of Play.
  </header>
  <details>
    By Tamee Gunnell
  </details>
  <section>
    <p>You can learn more about a person in an hour of play than a year of conversation - Plato</p>
    <p>There are things that we did as children that we don’t do as adults – and for good reason. As we grow we learn and become more capable, mature members of society. But something else happens along the way. We lose our sense of wonder. We lose our sense of “what if?” We lose much of our creative ability as we are programmed to “color inside the lines.” We’ve become adults and somehow our memory of how much we learned from playing seems to vanish. We get attached to titles, power and money and the simple joys of life get all muddled up in the process. We go to our jobs. We become responsible and quickly forget the benefits that come from taking time out to play.</p>
    <p><strong>Remember when...</strong> Play usually involves other people. And, when we play with those we work with, it creates those “remember when” moments. It’s those bonding moments that open the door to seeing each other not just as “work” associates but as human beings. Our personalities come out while we create memories.<p>
    <p><strong>Soul Food...</strong> Playing is fun. Fun reduces stress. Reduced stress restores optimism. Optimism leads to joy. People like joyful people. Pretty simple.</p>
    <p><strong>Right brain boost...</strong> Curiosity. Imagination. Creativity. All benefits of play.</p>
    <p><strong>True colors...</strong> A person’s true character comes out when put in competitive situations. Playing with others often involves competition of some event. If you want to get a glimpse of the character of your coworkers, go out and play with them.</p>
    <p><strong>Think differently...</strong> Play enhances neural connections that enable various solutions to divergent problems. In simple terms, play promotes creative problem solving. It opens up wonder. It turns the impossible to possible. Play allows us to see the opportunities in everyday elements.</p>
    <p>These are just a few of the benefits of play. Ultimately, play is as much a state of mind as it is a state of being. It’s about loosening up and not taking ourselves so seriously. <strong>Now go out and have some fun!</strong></p>
  </section>
  <footer>
    <div class="about">
      <a href="http://www.linkedin.com/in/tameeg">Tamee</a> is a Strategic Planning professional focusing on creating marketing programs of all sizes. Her natural curiosity makes for interesting experiences and stories.
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Tamee Gunnell" %>
</div>

