<style type="text/css" media="screen">
  #eubanks4 header {
    text-align:center;
    background-color:#bf7a04;
  }
  #eubanks4 section p{
    font-size:12pt;
    display:block;
  }
  #eubanks4 section span p{
    margin-left:100px;
  }
</style>

<div id="eubanks4" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Work for Free
  </header>
  <details>
    By Ben Eubanks
  </details>
  <section>
    <p>Want to hear a secret way you can get experience, build your professional network, and open your- self up to new opportunities? <strong>All you have to do is work for free.</strong> Check out this example, starring one of my friends in the lead role.</p>
    <span><p>Chuck was a PR pro who had been on the job market for months. He looked over his resume and decided that a bit more experience managing a large PR project would round out his qualifications.</p>
    <p>So he went to his local animal shelter and spoke with the director. The director agreed to let Chuck develop an organization-wide campaign, and it turned out to be a smashing success. Shortly afterward, the director was able to refer Chuck to a colleague who had also seen the PR campaign.</p>
    <p>She hired him on the spot as her team lead.</p></span>
    <p>This story details what I mean when I say <strong>"work for free."</strong> It's not slave labor or busy work. It's not that the value/quality of work is poor. It's a concerted effort by a professional to use their knowledge and skills for the benefit of others. You’re doing pro bono consulting. It helps you build your resume, enhance your skill set, and assist an organization that couldn't do it alone.</p>
    <p>Find an organization with a problem that you can solve and offer to do it for free. You’ll be surprised at what you can do, who you can help, and how it benefits both parties in the long run.</p>
  </section>
  <footer>
    <div class="about">
      Ben Eubanks is an HR professional & blogger from north Alabama. He enjoys writing about leadership, HR, & zombies. Find him on <a href="http://twitter.com/beneubanks">Twitter,</a> <a href="http://www.linkedin.com/in/beneubanks">LinkedIn,</a> or <a href="http://upstarthr.com/">UpstartHR.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Ben Eubanks" %>
</div>

