<style type="text/css" media="screen">
  #andrus5 header {
    font-size:40pt;
    text-align:center;
    background-color:#41387A;
  }
  #andrus5 header span {
    font-size:20pt;
  }
</style>

<div id="andrus5" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Mistakes <span>are</span> Valuable
  </header>
  <details>
    By Beth Andrus
  </details>
  <section>
    <p><strong>I wish I knew,</strong> from the beginning, that mistakes are a good thing. For years my mistakes would make me cringe and retreat. Now, when I realize I've made a mistake, I'm grateful. I know I'll be smarter than before, as soon as I find the lesson in it.
    <p>I recently came across evidence of a huge mistake I had made years ago. It cost me a lot of time and money, but I had forgotten about it. But the lessons I learned were not forgotten. They had become a part of me and changed how I approach everything. I was so much further ahead because of my enormous screw-up, but I didn't realize it at the time. I felt embarrassed and just saw what I thought was wasted time and money.</p>
    <p>Sometimes the only way to find out what you don't know is to jump in and see what happens. If you're lucky, you'll hit some bumps in the road. That's how you'll know you've stepped outside your boundary. The more you fail, the more you learn, and the more you learn, the more you grow. Mistakes will move you quickly down the road, further than you imagined, as long as you keep your head up. I would rather fall while moving forward, than stand tall in one spot. Now I know I need to embrace my mistakes.</p>
    <p>Accept your mistakes, and soon you may even decide to celebrate them.</p>
  </section>
  <footer>
    Beth Andrus wrote <a href="http://theessentialbusinesshandbook.com/">The Essential Business Handbook</a> and writes a <a href="http://www.minibizbuzz.com/">blog</a> for very small businesses.
  </footer>
</div>

