<style type="text/css" media="screen">
  #mccann6 header {
    font-size:20pt;
    text-align:center;
    background-color:#4E7F89;
    color:#fff;
  }
  #mccann6 header span {
    font-size:13pt;
    display:block;
    margin: -5px 0;
  }
  #mccann6 section {
    margin-top: 110px;
  }
  #mccann6 section p{
    font-size:11pt;
    display:block;
  }
</style>

<div id="mccann6" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Building the Muscles of Success <span>and the</span>
    Value of Persistence
  </header>
  <details>
    By T.A. McCann
  </details>
  <section>
    <p><strong>Almost nothing works the way you planned it out of the gate.</strong> In fact, most success is found after trying and failing many times over. In an interview with Thomas Edison soon after he discovered the carbon filament that led to the modern light bulb he commented, “I have not failed, not once. I’ve discov- ered ten thousand ways that don’t work.” Persistence toward the goal and a confidence to try again is the key.</p>
    <p>I was fortunate enough to be involved with winning sailing’s 1992 Americas Cup. We started the campaign with certain ideas on ways we could innovate in boat design, construction and even concepts about inventing a new kind of sailcloth made of carbon fiber. The early iterations exploded minutes after we put them up. Failure. The next generations became brittle when we folded them, so they worked well once, but not twice. We iterated. Next versions broke down quickly in the sun and lost their shape, so we added a unique form of sunscreen.  After almost 18 months of trialing, the final versions were delivered days before the Cup, where a decided boat-speed advantage trounced the competition. Hard fought success!</p>
    <p>It seems obvious to make it actionable. But measuring your success is critical. Count the number of days you are the last one to leave the office. Always do the extra credit problems. Take on a responsibility with a high chance of failure or where you have very little background or experience at least once every 3 months. Ask for a task that is way above your skill level. Attempt to meet with people who have 10X your experience. When everyone else has left the pool, do another lap or two. This persistence will pay off in many ways. You feel like you did more, others see that you did more and that indicates that you want to succeed, more. You will be building the mental endurance to persist as your ambition becomes larger, the challenges greater and the amount of failure, regrouping and trying again, more frequent. Success is about muscles, mental, physical or both. Persistence and iteration is the time in the gym to build them. The more you train, the stronger you get and gain the confidence to overcome and succeed.</p>
  </section>
  <footer>
    T.A. McCann is founder and CEO of <a href="http://gist.com">Gist.</a> His is an active startup advisor to companies including Zooppa and Wishpot and founder of Jump2Go, HelpShare and Soft Labour. T.A. has also won sailing’s America’s Cup and sailed around the world and is active in several environmental causes. <a href="http://tamccann.blogspot.com">http://tamccann.blogspot.com</a>
  </footer>
</div>

