<style type="text/css" media="screen">
  #miceli07 header {
    background-color:#DB5821;
    color:#fff;
  }

  #miceli07 section {
    font-size: 13.5pt;
  }

</style>

<div id="miceli07" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Look Ahead Early
  </header>
  <details>
    By Carlos Miceli
  </details>
  <section>
    <p><strong>If there was one thing</strong> I wish I'd known as a naive kid or impetuous teenager, it would be that it's never too early to look into the future. Having fun and enjoying the present are the results of a well led life, but never an ultimate goal, because those that seek immediate gratification are the ones that don't respect time and its unavoidable regrets.</p>
    <p><strong>I wish I knew</strong> that the rebellious passion of the early years can be lost forever, leaving you with wisdom but without energy to use it. With time I realized that fulfillment comes from creation and not from spending, because despite the fact that laughter, tears, lies, frustrations and love shared with your first friends and enemies are beautiful memories, they are nothing compared to the pleasure that construction (with all of its sweat and pain) brings to the prepared mind that appreciates a finished product over fleeing bursts of happiness.</p>
    <p>No immediate gain comes close to the growth that a person can experience by overcoming life's real hardships.</p>
    <p><strong>The contentment of sharing</strong> the knowledge acquired after choosing to fight early battles, instead of resting on tradition, surpasses anything that a single short-term moment will provide.</p>
  </section>
  <footer>
    <div class="about">
      Young Argentinian philosopher <a href="http://twitter.com/CarlosMic">Carlos Miceli</a> is the co-founder and Content Director of <a href="http://untemplater.com/">Untemplater,</a> the guide to shatter the template lifestyle, and the mastermind behind <a href="http://www.owlsparks.com/">OwlSparks.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Carlos Miceli", :author_twitter => "CarlosMic" %>
</div>