<style type="text/css" media="screen">
  #spark08 header {
    background-color:#20246A;
    color: #fff;
  }

  #spark08 header span {
    display:inline-block;
    font-size:19pt;
    line-height:0.75em;
    margin:0 -32px;
    text-align:center;
    width:100px;
    vertical-align:-6px;
  }

</style>

<div id="spark08" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Never <span>write a</span> Resume
  </header>
  <details>
    By David Spark
  </details>
  <section>
    <p>With so many online publishing and distribution outlets, why does anyone still write 1-page resumes?</p>
    <p>A resume:</p>
    <p><span>Gives a potential employer permission to qualify you through their front desk receptionist.
    Forces you to be creative within a box.
    Announces how many years you held a job.
    Doesn't tell a story.
    Requires you to be beholden to a standardized accreditation system.
    Prevents you from becoming an entrepreneur.</span></p>

    <p>I stopped updating my resume four years ago. I wish I had never written a resume.</p>
    <p>Instead:</p>
     <p><span>List your job experience on a LinkedIn profile and ask your past and current colleagues to
     Write a recommendation.
     Write a bio of your past experiences.
     Write a blog about the job you want to have. Interview people in that space.
     Reach out to influencers in your space. Read and comment on their blog. Send them private notes.
     Extend personal invitations for parties, or just a lunch.
     Recognize when you're experiencing a moment that must be captured as a story. Write it and share it on
     your blog. When you're really good at recognizing them, you can start capturing them on video as they're happening.</span></p>
     <p>Entrepreneurs never got their job from a great resume.  Be creative about telling your story, and share it with the people you want to work with and for.</p>
  </section>
  <footer>
    <div class="about">
      David Spark refuses to show you his resume. Instead, read his bio, check out his business site, <a href="http://www.davidspark.com/">Spark Media Solutions,</a> or read his blog, <a href="http://www.sparkminute.com/">Spark Minute.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "David Spark" %>
</div>