<style type="text/css" media="screen">
  #price09 header {
    background-color:#0F4D29;
    color:#fff;
  }

</style>

<div id="price09" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Make Decisions
  </header>
  <details>
    By Michele Price
  </details>
  <section>
    <p><strong>Each day is far more powerful</strong> and holds boundless opportunities, once you have made a decision. Knowing how critical and empowering making a decision, even if it scares the crap out of you, is what I would have given my teeth for in my youth. We often think that making a "good" decision means taking time, weighing the pros and cons... being careful that we make a "good one".</p>
    <p>What a crock.</p>
    <p>All that time is giving our lizard brains (that thing that fears change and desires safety) a chance to kick into gear. And it stops you in your tracks. You let yourself feel better because the majority of people you trust tell you, " You can't rush a good decision", and you numb yourself into paralysis in order to play safe, in the name of "good decisions".</p>
    <p><strong>Decide in an instant.</strong> You’ll know the answer in your gut. All fears are empty. It’s your ego jacking you off. Take a breath, get quiet (many have never quieted their minds, ever). Start with a small decision (less risk), make your choice, and strengthen your decision muscles. Soon, you will make decisions faster.</p>
    <p><strong>If I would have known this,</strong> I would have decided faster and move forward with more speed and assurance. Are you ready?</p>
    <p>Your life is waiting for that decision.</p>
  </section>
  <footer>
    <a href="http://www.twitter.com/prosperitygal">Michele Price,</a> <a href="http://socialmediaforsmartpeople.com/speaking-michele-price/">Social Media Mindset Speaker</a>-radio host on <a href="http://www.whoismicheleprice.com/">Breakthrough Business Strategies.</a><br /> Co-author Minding Your Manners in Social Media.
  </footer>
</div>