<style type="text/css" media="screen">
  #schaefer10 header {
    background-color:#CF1C20;
    color:#fff;
  }
  #schaefer10 section {
    margin-top: 105px;
    font-size: 11pt;
  }

  #schaefer10 section p {
    margin-bottom: 0;
    margin-top:4px;
  }

  #schaefer10 footer {
    bottom:6px;
  }

</style>

<div id="schaefer10" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
Friends in High Places
  </header>
  <details>
   By Mark W. Schaefer
  </details>
  <section>
    <p><strong>In the long-run, it’s who you know.</strong></p>
    <p>You can only get so far on your own intellect and instincts. All things being equal, the person with the best network and most influential mentors will fly higher ... and get there faster.</p>
    <p>Effective and powerful mentors can mean much more to you than occasional job leads. Friends in high places can be sources for investment capital, help you navigate the political minefield, promote your personal brand, serve as business advisers, and introduce you to potential business partners and customers.</p>
    <p>Most importantly, mentors can help crunch the learning curve and facilitate that all-important business advantage of SPEED.</p>
    <p><strong>Action items: Find a mentor</strong></p>
    <p>In the era of the social web, there is really no excuse for not having an effective network of sponsors. The trick is getting their attention. It’s easy to find successful and experienced individuals in your field of work. Now get on their radar screen by asking questions, commenting on their blog, connecting to them on Twitter.</p>
    <p>Read the business section of your local newspaper, trade journal or industry websites. Watch for news of the movers and shakers in your line of work. When an article appears, compliment them on it and ask if it would be possible to meet or talk to them about their achievements.</p>
    <p>If you work for a large corporation, look at an org chart and find the ultimate job you want to have some day. Ask the person to go to lunch with you and ask them, “How can I be you some day?” That is the ultimate compliment and will certainly get their attention!</p>
    <p>If somebody asks you, “Can you help me?” ... would you say no? Simply ask a potential mentor for help on a business problem. Most people are kind and will feel flattered that you want their help.</p>
    <p>Finally, have LOTS of mentors and communicate with them regularly. Learn as much as you can from a diverse group of people. You just never know what the benefits can be down the line.</p>
  </section>
  <footer>
    Mark W. Schaefer serves as Chief Marketing Officer to several companies and is a consultant and college educator. His popular blog {grow} can be found at <a href="www.businessesGROW.com/blog">www.businessesGROW.com/blog.</a> Connect to him on Twitter at <a href="http://www.twitter.com/markwschaefer">@markwschaefer.</a>
  </footer>
  <%= partial "misc/navbar" %>
</div>