<style type="text/css" media="screen">
  #wasiak11 header {
    background-color:#43A337;
    font-size:24pt;
    letter-spacing:0;
    line-height:1.1em;
    padding:0 12px;
    text-align:center;
    word-spacing:1px;
  }

  #wasiak11 section {
    margin-top:113px;
  }

  #wasiak11 section strong {
    display:block;
    font-size:14pt;
    margin-top:29px;
  }

</style>

<div id="wasiak11" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Be a Resilient Opportunity Advocate<br />
    Rather than a Relentless Problem Solver
  </header>
  <details>
    By Hank Wasiak
  </details>
  <section>
    <p>As an advertising person who started my career in the Mad Men era of the 1960’s I spent most of my time helping clients avoid or solve problems. I grew up with SWOT analyses that wound up identifying significantly more weaknesses and threats than strengths and opportunities. The most widely used advertising genres utilized classic problem solution formats. We spent endless amounts of time and money funding test markets to cover the downside risks of marketing programs. I spent most of my time on the problem side of the ledger. And why not. Solving problems usually yielded timely and tangible results. Problem solvers were the first to get a pat on the back for a job well done. The problem with a problem fixation is that it usually just protects the status quo and, at best, winds up being a zero sum game.</p>
    <p>All in all, I’ve been blessed to have a very good life and pretty successful career. And, I can only imagine.... How much could I have accomplished if I spent most of my time seeking out, evaluating and seizing opportunities? How many more inspiring relationships could I have developed if I spent most of my time discovering the potential in people rather than seeing their shortcomings? How many more exciting discoveries could I have made if I spent most of my time taking opportunistic risks?</p>
    <p>The good news is that we all have the power to be resilient opportunity advocates. It’s a mindset choice anyone can make.</p>
    <p><strong>What are you waiting for?</strong></p>
  </section>
  <footer>
    Hank retired as Vice Chairman of McCann-Erickson to co-found the creative hot shop, The Concept Farm. He is a three-time Emmy award winning TV host, author, keynote speaker, teacher and a Reiki Master. <a href="http://www.hankwasiak.com/">http://www.hankwasiak.com/</a>
  </footer>
</div>