<style type="text/css" media="screen">
  #markow12 header {
    background-color:#2C4E8E;
    color:#fff;
  }
  #markow12 section {
    font-size: 14pt;
  }

</style>

<div id="markow12" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Scuttle the Boats
  </header>
  <details>
    By Jason Markow
  </details>
  <section>
    <p><strong>Hernando Cortez did something bold.</strong></p>
    <p>The story goes that upon arriving in Mexico he destroyed any chance of returning/retreating/abandoning his goal. Most commonly, the story is told that he torched all 11 of the boats that he and his crew arrived on. This is a common misconception, what he actually did is "scuttle" (intentionally sink) them.</p>
    <p>He left himself (and his crew) no escape route, no retreat, no other option.</p>
    <p>If you want to go "above and beyond" and position yourself for a huge success you need to eliminate any potential escape route.</p>
    <p>I am not saying that failure is not possible. It is. To be honest, the chance of failure will most likely increase. However, it is failure that shows we are pushing ourselves, it is failure that shows we have attempted something great, and it is from failure that we truly learn.</p>
    <p>This does not mean "attempt while unprepared"! It means prepare to the best of your ability, sever any chance of retreat, and go for it. So show up, scuttle the boats, and take action... because it is the only choice you've got.</p>
  </section>
  <footer>
    <div class="about">
      Jason is the creator of <a href="http://jasonmarkow.com/">‘The think (here) Blog’,</a> co-founder of <a href="http://thinkcoremedia.com/">Think Core Media.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Jason Markow", :author_twitter => "jmarkow" %>
</div>