<style type="text/css" media="screen">
  #strimpel13 header {
    background-color:#DB5821;
  }

</style>

<div id="strimpel13" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Learn to Love Learning
  </header>
  <details>
    By Jason Strimpel
  </details>
  <section>
    <p>Simply loving to learn in itself is not exactly useless, but unless there is a resurgence in thinking as a viable career choice, it's pretty close.</p>
    <p>I interview all kinds of people on an ongoing basis. I ask the tough questions like "what is the sum of the numbers 1 through 100, inclusive?" and also the off-the-wall questions like "if you were a bird, which bird would you be"? These types of questions serve many purposes to the interviewer (albeit mysterious to those trying to answer) but the traits I always look for are passion and an intense curiosity and willingness to learn.</p>
    <p>When I speak to someone with a passion for what they do, it is immediately apparent. As a hiring manager in an intensely competitive environment, passion speaks louder than any qualification, job experience, or GPA. Passion is the edge that sets those that are hired at JPMorgan apart from those that are not.</p>
    <p>So how does one obtain such a deep passion for what they do? Learn to love learning. Undergraduates come out of college with a passion for the unknown. They are excited to start life and make money. However, employers have been through this. We want a person that has a genuine passion for the work they are going to do.</p>
    <p>Now, I'm not saying that you need work 60 plus hours per week or spend all your free time reading textbooks on variance swaps (like me). However, surround yourself with your passion by reading books and Websites, talking to people, and joining clubs. Do whatever it takes to study or work within the field.</p>
    <p><strong>Develop a deep love for learning and the passion will follow.</strong></p>
  </section>
  <footer>
    Section Manager at JPMorgan Chase & Co., Master's Degree student in Quantitative Finance, human being, derivatives trader, brother, son, and all around really nice guy. <a href="http://www.jasonstrimpel.com">http://www.jasonstrimpel.com.</a>
  </footer>
</div>