<style type="text/css" media="screen">
  #howver14 header {
    background-color:#CE6697;
  }

  #howver14 section {
    font-size:12pt;
  }

  #howver14 section p {
    margin-top: 10px;
    margin-bottom: 17px;
  }

</style>

<div id="howver14" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Be With People
  </header>
  <details>
    By Jen Howver
  </details>
  <section>
    <p><strong>People have always been an important part of my life.</strong> I am, after all, an extreme extrovert. And when I worked for businesses, even small companies, I had enough people around me to give me energy, make me laugh, and challenge me personally and professionally.</p>
    <p>However, since starting my own business nearly five years ago, I have somehow let the importance of actually being with people slip down in my list of priorities.</p>
    <p>In my past life, working in a cubicle, I had friends from work who I’d hang out with after hours to play cards, have some drinks, and laugh a lot. I was able to seek out mentors within the company who I could learn from, and it was easy to schedule a lunch meeting and be intentional about our time together.</p>
    <p>Things have changed a lot since I decided to start working from my house and for myself. It became easy to go inside my own little world and to stop being intentional about people. But over the past five years, I wish I‘d reminded myself about all these things I once took for granted.</p>
    <p>So whether you’re striking out on your own to build the next great business, or you’re sitting in a cubicle being annoyed by the music choice of your neighbor, being with people is important. You need to surround yourself with friends who will laugh with you, and mentors or peers who will spur you on to greater things. Be intentional about it.</p>
  </section>
  <footer>
    <div class="about">
      Jen Howver is owner of <a href="http://www.vodcommunications.com/">VOD Communications,</a> which provides marketing, copywriting, and social media consulting. She’s also a busy wife, mom, and aspiring novelist.
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Jen Howver" %>
</div>