<style type="text/css" media="screen">
  #blake15 header {
    color: #fff;
    background-color:#269C38;
    letter-spacing:-1px;
    font-size:57pt;
    padding: 0 102px;
  }

  #blake15 ul {
    margin-top: -19px;
  }
  #blake15 ul li {
    margin: 0 0 0 19pt;
    padding: 3px;
    list-style: disc;
  }

</style>

<div id="blake15" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Don’t Wait
  </header>
  <details>
    By Jenny Blake
  </details>
  <section>
    <p><strong>If I had known just one thing at the beginning of my career,</strong> it would have been not to delay my happiness by waiting for other people to give me what I wanted. The snippets of advice that follow are about taking charge of your own life and career – and most importantly, your attitude.</p>
    <ul>
      <li>Don't wait for other people to make you happy.</li>
      <li>Don't wait for your manager to ask you what you need.</li>
      <li>Don't wait for your job to become fulfilling on its own.</li>
      <li>Don't wait for your work/life balance to magically settle where you want it.</li>
      <li>Do get crystal clear on what you want.</li>
      <li>Figure out what makes you happy through trial and error.</li>
      <li>Focus on your strengths and grow them.</li>
      <li>Pay attention to when you feel most “in the zone” and do more of it.</li>
      <li>Build your job and career like a pyramid instead of a ladder.</li>
      <li>Collect as many lessons and experiences as you can – good and bad.</li>
      <li>Keep what works and magnify it.</li>
      <li>Find ways to grow what works into something bigger.</li>
      <li>Not 100% satisfied with your fulltime job?</li>
      <li>Start something on the side. Today.</li>
      <li>Stop delaying your happiness until tomorrow.</li>
      <li>Above all, commit to being a leader in your own life.</li>
      <li>Commit to taking charge.</li>
      <li>Commit to you making yourself happy - in life and work.</li>
      <li>No one else is going to do it for you.</li>
    </ul>
  </section>
  <footer>
    <a href="http://twitter.com/jenny_blake">Jenny</a> blogs at <a href="http://lifeaftercollege.org">http://lifeaftercollege.org,</a> where she shares practical tips for life, work, money, happiness, personal growth, productivity and more. She works full-time at Google as a Career Development Program Manager and coach.
  </footer>
</div>