<style type="text/css" media="screen">
  #blake15 header {
    background-color:#DB5821;
  }

</style>

<div id="blake15" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Don’t Wait
  </header>
  <details>
    By Jenny Blake
  </details>
  <section>
    <p>If I had known just one thing at the beginning of my career, it would have been not to delay my happiness by waiting for other people to give me what I wanted. The snippets of advice that follow are about taking charge of your own life and career – and most importantly, your attitude.</p>
    <p>Don't wait for other people to make you happy.
      <span>Don't wait for your manager to ask you what you need.
      Don't wait for your job to become fulfilling on its own.
      Don't wait for your work/life balance to magically settle where you want it.
      Do get crystal clear on what you want.
      Figure out what makes you happy through trial and error.
      Focus on your strengths and grow them.
      Pay attention to when you feel most “in the zone” and do more of it.
      Build your job and career like a pyramid instead of a ladder.
      Collect as many lessons and experiences as you can – good and bad.
      Keep what works and magnify it.
      Find ways to grow what works into something bigger.
      Not 100% satisfied with your fulltime job?
      Start something on the side. Today.
      Stop delaying your happiness until tomorrow.
      Above all, commit to being a leader in your own life.
      Commit to taking charge.
      Commit to you making yourself happy - in life and work.
      No one else is going to do it for you.</span>
  </section>
  <footer>
    <a href="http://twitter.com/jenny_blake">Jenny</a> blogs at <a href="http://lifeaftercollege.org">http://lifeaftercollege.org,</a> where she shares practical tips for life, work, money, happiness, personal growth, productivity and more. She works full-time at Google as a Career Development Program Manager and coach.
  </footer>
</div>