<style type="text/css" media="screen">
  #landers16 header {
    color: #fff;
    background-color:#3274AD;
  }
  #landers16 header span {
    margin: 0 -10px;
    font-size:25pt;
  }
  #landers16 section {
    font-size: 11pt;
  }

  #landers16 section p {
    margin-bottom:16px;
    margin-top:13px;
  }
</style>

<div id="landers16" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Passions <span>are</span> Contagious
  </header>
  <details>
    By Jody Landers
  </details>
  <section>
    <p>Movements that change the world arise out of passions, out of hearts captured by causes worth doing. Passion-captured people act. They don’t wait for approval or resources or an official position. Passions ignite dreams, they stir up voices of protest, they cause people to come together to make “what should be” into “what is.”</p>
    <p>Our passion is for clean water. Our hearts were captured by the reality that every day mothers are burying their children because they drank contaminated water. We found that unacceptable, especially when clean water lies beneath the surface. We realized that clean water could change everything for these mothers. This idea became a driving force for an increasing number of passion-driven volunteers.</p>
    <p>Passion has power that isn’t rooted in celebrity, economic status or prestige.</p>
    <p>We paid attention to our tears. We explored them. We allowed ourselves to take on the suffering of others; to feel their pain. We opened the doorways of our hearts to the discovery of passion--and the passion took over. And we began to act.</p>
    <p>So, when a cause captures your heart, when you can’t talk about something without tearing up...move. Act. Be bold. The smarts will come.</p>
    <p>Mark Batterson suggests reframing “Ready, Set, Go” to “Go, Set, Ready.” Passion comes first. Education follows and helps sustain.</p>
    <p>Don’t go alone. Along the way, take the time and energy to build a team. You can move faster alone but you will go much farther together. Community sustains us in the action, it even becomes a reward in itself. Nothing beats the “pursuit of a great cause in the company of friends.”</p>
  </section>
  <footer>
    Jody Landers: Makes a home in Iowa with her husband and six children. Volunteer clean water advocate/director of <a href="http://www.water4christmas.com/">Water For Christmas.</a>
  </footer>
</div>