<style type="text/css" media="screen">
  #loayza17 header {
    background-color:#0F4D29;
  }

  #loayza17 section {
    font-size:  11pt;
    margin-top: 96px;
  }


</style>

<div id="loayza17" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Be The Tortoise
  </header>
  <details>
    By Jun Loayza
  </details>
  <section>
    <p><strong>Impatience used to be my middle name.</strong></p>
    <p>On the macro level, I quit my corporate job after 3 months to pursue my startup full time. On the micro level, I used to check my email while driving, at the gym, and at dinner with my girlfriend.</p>
    <p>I thought waiting was for losers; I believed winners vigorously took what they deserved instead of waiting for it to come to them.</p>
    <p>If only I had known that patience is one of the entrepreneur’s most important traits.</p>
    <p>It may not seem like it, but a young twenty something has all the time in the world to accomplish his or her goals.</p>
    <p>Emails can wait - enjoy the time that you spend with your loved ones. The startup can wait – value the learning experience at your corporate job.</p>
    <p>Be patient and focus on being the very best at what you’re currently doing. There is no award for “best multi-tasker” or “most productive person in the world.”</p>
    <p>Yes, you are in a race, a race against your peers, your competitors, and a race to make a positive difference in this world.</p>
    <p>But you don’t need to be the hare; be the tortoise.</p>
    <p>The entrepreneur who succeeded after his 3rd startup wins, just like the entrepreneur on his 9th startup. The only difference is that the latter has many more bumps, scars, and bruises.</p>
  </section>
  <footer>
    <div class="about">
      Jun Loayza is the President of <a href="http://socialmediamarketing.com/">SocialMediaMarketing.com</a> and the Co-Founder of <a href="http://viralogy.com/">Viralogy.</a> Find Jun on his <a href="http://junloayza.com/">Blog</a> or contact him through <a href="http://twitter.com/JunLoayza">Twitter.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Jun Loayza" %>
</div>