<style type="text/css" media="screen">
  #obrien19 header {
    background-color:#27377A;
    font-size:31pt;
    line-height:1.05em;
    padding:6px 28px;
    text-align: center;
  }

  #obrien19 section {
    margin-top: 134px;
  }
</style>

<div id="obrien19" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    What’s Your Company’s
    <br />
    Personality
  </header>
  <details>
    By Monica O’Brien
  </details>
  <section>
    <p><strong>One of the most interesting bits of research</strong> that people rarely write about is how much influence founder personalities can have on a company. I've worked with start-ups and small businesses for several years, and the difference between whether I like the company or not almost always correlates directly to how much I like the founder, or the face of the company.</p>
    <p>Surprisingly, this phenomenon isn't only apparent in new companies. Apple, for example, completely emulates Steve Jobs' personality in every single product - from computers to iPods to cell phones. You can guess a lot about the culture and work ethic at Apple just by meeting Steve Jobs himself.</p>
    <p>Many people want to work at start-ups, and I'm often asked for advice on whether a start-up is the right move or not. To really know, listen to your gut when you meet the company founder. Do you like the person? If not, you will almost surely hate working for the company, no matter how perfect the job suits your skill set.</p>
    <p>This doesn't just go for start-ups. All companies have personalities. The most successful companies stay true to that personality in all facets of their existence - in every tweet, in every ad campaign, in every product, and yes - in every employee too.</p>
  </section>
  <footer>
    <div class="about">
      Monica O'Brien is the author of Social Pollination, which provides a strategic blueprint that helps businesses find their personality on social media. For a limited time, purchase Social Pollination to get a free membership to Monica's premium consulting site where she provides individual and group consulting.
    </div>
  </footer>
  <%= partial "misc/navbar" %>
</div>