<style type="text/css" media="screen">
  #abdulhadi20 header {
    background-color:#FAE91B;
  }

</style>

<div id="abdulhadi20" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Walk Differently
  </header>
  <details>
    By Mouyyad Abdulhadi
  </details>
  <section>
    <p><strong>I have worked in customer service since I was 14 years old.</strong> I have interacted with the hungry, the sick and a modern combination of the two, those with cellular service issues. I have talked to the old and young, people of all races and colors, from all parts of the world. In my years of customer service I have come to a conclusion: it’s difficult, stressful, mentally taxing and most of all REWARDING.</p>
    <p>When one thinks about “customers,” we picture the lady at the drive thru, the man in front of you at the bank, the person paying for gas, etc. We fail to realize that “customers” are a part of every aspect of our lives. Family members are customers. Friends are customers. Co-workers are customers. In a way, we all work in customer service.</p>
    <p>To succeed, there are certain mental bumpers we must place so we do not fall in the customer service gutter. We must be a sieve, which allows all the negatives to go through but leaves the gold. We must take the important parts of what the customer is telling us and transform it into a great experience. We cannot take everything the customer says personally, but have enough emotional attachment to want to help the customer. In customer service, the destination is equally as important as the journey; it was long and arduous, yet a customer leaving with a smile is the sight of land after the months at sea, the light at the end of the tunnel.</p>
  </section>
  <footer>
    Mouyyad Abdulhadi, Dallas, Texas, entrepreneurship is my passion, my dream is to live a global lifestyle, avid reader, <a href="http://www.magiccarpetblog.com/">www.magiccarpetblog.com</a>
  </footer>
</div>