<style type="text/css" media="screen">
  #hangen21 header {
    background-color:#DB5821;
  }

</style>

<div id="hangen21" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Customer Service Destination
  </header>
  <details>
    By Nathan Hangen
  </details>
  <section>
    <p><strong>The problem with a traditional education</strong> is that you are expected to work on your own. Students are rarely given the opportunity to work in groups to pair strengths and weaknesses, and as a result, they wind up relying on themselves...never really learning how to network and collaborate.</p>
    <p>As a result, many people develop what I call “silent perfectionism,” which in ordinary terms means that someone doesn’t trust others to get things done right. I’m one of these types, and I spent most of my adult life busting my tail in order to try to achieve everything on my own.</p>
    <p>To make matters worse, the modern social web actually increases the problem because people begin to spend less time hanging out in physical locations and more time hanging out on Twitter or Facebook. Chatting on Facebook is great, but it doesn’t come anywhere close to replacing real, physical connections.</p>
    <p>There’s power in shaking hands and hanging out with people over a cup of coffee or a beer. There’s a certain type of synergy that can be achieved when you work on problems with others, instead of on your own.</p>
    <p>People might forget avatars on Twitter, but they generally don’t forget a face, and although social media relationships can be powerful, personal relationships can be so much more.</p>
    <p>When you have the chance, make an effort to exchange handshakes instead of emails. Sure, I’ve formed some great partnerships online, but those that I formed in person have been, by far, the most beneficial to my business.</p>
  </section>
  <footer>
    Nathan Hangen is an <a href="http://nathanhangen.com/">entrepreneur,</a> <a href="http://beyond-blogging.net/">author,</a> and <a href="http://makingitsocial.com/">online marketing strategist.</a> You can follow him on Twitter at <a href="http://www.twitter.com/nhangen">(@nhangen).</a>
  </footer>
</div>