<style type="text/css" media="screen">
  #mcderment23 header {
    background-color:#DB5821;
  }

</style>

<div id="mcderment23" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Play To Your Strengths
  </header>
  <details>
    By Mike McDerment
  </details>
  <section>
    <p><strong>What makes people like Warren Buffet and Bill Gates so successful?</strong></p>
    <p>I don't have all the details, but I know part of the puzzle - they play to their strengths. In 2003 I started a business in my parents’ basement that helped me avoid paperwork (invoicing), and is now used by over a million people. Along the way I realized that when I don't like a task, it's like pulling teeth and I become less inspired and effective, but when I truly enjoy what I am doing, not only am I more efficient, but the task at hand is virtually effortless.</p>
    <p>I soon discovered that there are people who love to do the things I hate to do. You may not believe it, but trust me - it's true. Knowing this, I focus on the tasks that play to my strengths and pass the tasks I loathe to someone who loves them. Case in point; I used to prepare reports for my board members. I always hated doing it - it took me too long and made my head snow. One day, one of my board members said, "You know, you can get someone else to do that". That blew my mind. All I really needed to do was focus on the part I was good at (outlining what needed to be in the report), and hand off the report preparation to someone who gets fired up accomplishing just such a task.</p>
    <p>Today, I'm surrounded by people whose strengths compliment my own. So we're not just getting more done, we are loving every minute of it. Can you think of anyone who would enjoy</p>
  </section>
  <footer>
    Mike McDerment is the CEO of <a href="http://www.freshbooks.com">FreshBooks,</a> planet Earth's leader in online billing and bookkeeping.
  </footer>
</div>