<style type="text/css" media="screen">
  #dematteo24 header {
    background-color:#C0C726;
    color:#FFFFFF;
    font-size:36pt;
    letter-spacing:-1px;
    padding:10px 27px;
    word-spacing:0;
  }



</style>

<div id="dematteo24" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    The Power of Happy Hour
  </header>
  <details>
    By Rich DeMatteo
  </details>
  <section>
    <p>We spend more time with co-workers than anyone else in our lives. Whether we love them or hate them, we need to find ways to work effectively with team members. But why should it stop there?</p>
    <p>Connections built early in our career can set us up for future opportunities and success. Finding out the passions and goals of co-workers presents an opportunity to learn if we have matching interests. While the work place is not the best spot for conversations like this, happy hour is.</p>
    <p>When you start a new job, it’s only a matter of time before someone invites you to happy hour. You MUST go to happy hour. No ifs, ands, or buts. Turning down an invite reduces the chances you’ll be asked to come out with the group next time. If employees at your company don’t normally go out together, then step up and organize a group outing.</p>
    <p>When you get there, focus on having fun, and sharing some laughs. Once you reach a point where you call your colleagues “work friends”, then start opening up about your passions and goals. While these connections will benefit your career in the short term, you’ll be amazed to see how long the bond lasts.</p>
    <p>Very early in my career I made the mistake of avoiding happy hour. Don’t make that mistake. Eventually, I smartened up and made incredible connections with brilliant people. Those team outings dramatically impacted my career and crucial business decisions that I make on a day-to-day basis. And that, my friends, is the power of happy hour.</p>
  </section>
  <footer>
    <a href="http://twitter.com/cornonthejob">Rich DeMatteo</a> is a Philadelphia area HR/Staffing professional and creator of <a href="http://www.cornonthejob.com/">Corn On The Job,</a> a job search, recruiting, and HR blog.
  </footer>
</div>