<style type="text/css" media="screen">
  #ogborn25 header {
    background-color:#27387A;
    color:#FFFFFF;
    font-size:36pt;
    letter-spacing:-1px;
    padding:10px 20px;
    word-spacing:0;
  }
  #ogborn25 section {
    font-size: 14pt;
  }
  #ogborn25 section p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>

<div id="ogborn25" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Casting a Thousand Nets
  </header>
  <details>
    By Samantha Ogborn
  </details>
  <section>
    <p><strong>I’ve heard it all.</strong> No, really, I’ve heard it all. The economy is at an all-time low, no places are hiring, etc. Keep going. In the meantime, someone just landed a job at your dream company.</p>
    <p>If I had known just one thing, it would be that casting a thousand nets and staying relentlessly proactive will get you to where you want to be in life.
    When was the last time you got offered a job in the midst of inactivity? Oh wait, that never happened. That’s because jobs don’t land themselves. The first step to reeling in that big opportunity is to stop whining, and start doing.</p>
    <p>Strive to push past the idea that the perfect job is out of your reach. It’s only out of your reach if you believe it to be so. Times like these call for your indispensable passion to overcome your convincing excuses.</p>
    <p><strong>Basically: how bad do you want it?</strong></p>
    <p>Go big, or go home. Don’t apply to one; apply to all. And while you’re at it, remember that you never get anywhere in life if you don’t try in the first place. Let determination reign, then go out there and make it yours.</p>
  </section>
  <footer>
    Samantha went big and landed a full-time job with Fuor Digital following her graduation from the University of Missouri School of Journalism in May 2010. Find her on <a href="http://twitter.com/SJOgborn">Twitter</a> or at her <a href="http://www.samanthaogborn.com/">blog.</a>
  </footer>
</div>