<style type="text/css" media="screen">
  #deblauwe26 header {
    background-color:#CE0545;
    color:#FFFFFF;
    font-size:25pt;
    letter-spacing:0;
    line-height:1em;
    padding:10px 14px;
    text-align:left;
    word-spacing:-1px;
  }

  #deblauwe26 section p {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  #deblauwe26 section {
    margin-top: 110px;
    font-size:11.25pt;
  }

</style>

<div id="deblauwe26" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Success is:<br />Collaborate, Collaborate, Collaborate!
  </header>
  <details>
    By Tony Deblauwe
  </details>
  <section>
    <p>Early in my career I thought the only way I could climb the corporate ladder was by proving I was the best in a given job role. I learned very quickly that without others to help you collaborate you won’t ever achieve true success.</p>
    <p>A mentor once quoted St. Augustine to me:</p>
    <p><span>"The sufficiency of your merit is to know that your merit is not sufficient."</span></p>
    <p>Taking this message to heart, I learned how to collaborate better and build win-win solutions. My tips:</p>
    <p>1. Communicate a shared vision. Clearly outline what you want to accomplish and invite others to provide inputs. Show the value for everyone and how working together around common goals builds win-win solutions.</p>
    <p>2. Promote the ideas of others. In the process of completing a project or task, find opportunities to cham- pion the contributions of others. People want validation and appreciate being heard and their opinions supported.</p>
    <p>3. Accept criticism. If you’re not being as effective as you can be, or you made a bad decision, it’s hard to feedback about how you can improve your style or process. Allowing others to help you be better is a good thing, so embrace it and apply the guidance.</p>
    <p>4. Mentor others. Always find opportunities to help others be successful. Share your experience to push people to be their best. Mentoring is the ultimate form of collaboration where you can influence others to shine, and help them reach their goals and vision of success.</p>
  </section>
  <footer>
    <div class="about">
      Tony Deblauwe is a workplace expert and author of the award-winning book, Tangling with Tyrants: Managing the Balance of Power at Work. Visit <a href="www.workbabble.com.">www.workbabble.com.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Tony Deblauwe" %>
</div>