<style type="text/css" media="screen">
  #byrd27 header {
    background-color:#592970;
    color: #fff;
    font-size: 35pt;
    padding: 10px 17px
  }

  #byrd27 section {
    font-size:14pt;
  }

</style>

<div id="byrd27" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    The Trickle Makes a River
  </header>
  <details>
    By Brett Byrd
  </details>
  <section>
    <p><strong>Building a brand starts with a trickle.</strong> The trickle is the beginning of the stream you put in motion that will determine how the river will flow and eventually end up. Everything you do as leader, whether positive or negative, will trickle down into the fabric of your company. If done positively, your organization may grow at an alarming rate. On the contrary, if done negatively, you will tear down your organization faster than class 5 rapids.</p>
    <p>Your influence and the actions displayed by people in leadership positions will ultimately decide the fate of the company. The river can only flow smoothly without any boulders in its path. Be smart and make sure to trickle down only the habits that will make other partners, directors, employees, consumers and even competitors, like your brand. Those who lead by dictating find not only stones in their path, but many being thrown. You can be certain that those stones being thrown will cause ripples in the water.</p>
    <p>So remember, there are three parts to a river: one - the trickle that sets the river in motion, two - the body that is the essence of the river and three - The Mouth.</p>
    <p>Need I say more?</p>
  </section>
  <footer>
    <div class="about">
      Brett Byrd, spent 18 years in the Hospitality Industry and currently is top in sales for <a href="http://www.imaginethispromo.com/">Imagine This,</a> a large promotional marketing company. Brett is also founder of the 501(c)3 non-profit <a href="http://www.giveyoursole.com/">Give Your Sole.</a>
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Brett Byrd" %>
</div>