<style type="text/css" media="screen">
  #krzastek28 header {
    background-color:#8F3722;
    color: #fff;
  }
  #krzastek28 section {
    font-size:13pt;
  }
</style>

<div id="krzastek28" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Stay Organized
  </header>
  <details>
    By Marcus Krzastek
  </details>
  <section>
    <p><strong>Organization is the last thing</strong> I would have imagined myself recommending to people 7 months ago. I'm the type of person who, in college, would buy one single subject notebook to take (almost non-existent) notes for all of my classes, and then stuff all my papers in the front and back so it doubled as a folder. I never had a need to organize so I never became organized.</p>
    <p>When I began work at Vaynermedia, and especially on Crush It, that attitude was put to the test. It didn't take long for it to fail. If you're truly "crushing it" and working your ass off, you're going to have a lot of things on your plate. Even more importantly, you'll have people depending on your ability to move quickly and intelligently. In order to do so, you need to have some kind of system in place.</p>
    <p>This doesn't mean just go and copy a random organization scheme off of Lifehacker. Everyone works and thinks differently, you need to play with a bunch of options and find what works best for you. Personally, I use a combination of Gmail labels, Google Calendar, and Toodledo to handle my day to day schedule, but there are a near-infinite amount of alternatives.</p>
    <p>This may not be the sexiest tip but it's guaranteed to make you more effective at achieving your goals and ultimately make you feel more in-control.</p>
  </section>
  <footer>
    Marcus Krzastek is a project manager for <a href="http://www.vaynermedia.com/">Vaynermedia,</a> a brand consulting agency based in New York City.
  </footer>
  <%= partial "misc/navbar" %>
</div>