<style type="text/css" media="screen">
  #schmitz29 header {
    font-size:31pt;
    letter-spacing:-1px;
    line-height:1em;
    padding:8px 68px;
    text-align:center;
    word-spacing:-1px;
  }

  #schmitz29 section {
    font-size:14pt;
    margin-top:140px;
  }

</style>

<div id="schmitz29" class="slide know" data-slidename="<%= slide_name %>">
  <hr class="top" /><hr class="left"/><hr class="corner" />
  <header>
    Many of our Limitations<br />are Self Imposed
  </header>
  <details>
    By Wes Schmitz
  </details>
  <section>
    <p><strong>When I first started out, I was always so nervous</strong> going into face-to-face meetings, conference calls, Chamber of Commerce events, or even casual happy hours, because I assumed that each of the other participants was a master of their trade. I felt I was less knowledgeable than anyone else in the room, and was afraid of looking stupid. Given that I was starting down a brand new career path I felt like a “rookie.” I didn’t know anyone, and was uncomfortable striking up a conversation; I was afraid I might ask a dumb question, or not know the right answers if I was asked a question.</p>
    <p>After months of planning our restaurants, working with our real estate team, area developers, and our general contractors, I quickly realized how much I really knew (and sometimes, how much they didn’t!). I simply wasn’t giving myself enough credit. My perceived lack of knowledge was the only thing holding me back. My unique set of skills and experiences were valuable in their own right, and at the very least allowed me to make informed assumptions about business and business practices.</p>
    <p>Looking back, I should have been more confident from the start, less shy, and eager to engage in situations/conversations outside my comfort zone.</p>
  </section>
  <footer>
    <div class="about">
      Wes Schmitz owns a <a href="http://froots.com/home.html">Froots franchise</a> in Austin, TX.
    </div>
  </footer>
  <%= partial "misc/navbar", :slide => slide_name, :author_name => "Wes Schmitz" %>
</div>