<style type="text/css" media="screen">
  #andrus5 {

  }
</style>

<div id="andrus5" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Title Goes Here
  </header>
  <details>
    Author Goes Here
  </details>
  <section>
    Content Goes Here
  </section>
  <footer>
    About Information Goes Here
  </footer>
</div>

