<style type="text/css" media="screen">
  #mac0 header {
    background-color:#DB5821;
  }

</style>

<div id="mac0" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Title goes here
  </header>
  <details>
    Author
  </details>
  <section>
    Content goes here
  </section>
  <footer>
    About the author
  </footer>
</div>