<style type="text/css" media="screen">
#cover {
  text-align: center;
}
#cover * {
  font-family: Museo500;
}
#cover h1 {
  font-size: 48pt;
  margin-top: 80px;
  display: block;
}
#cover h2 {
  font-size: 36pt;
  margin-top: 23px;
  margin-bottom: -24px;
}
#cover h3 {
  font-size: 60pt;
}
#cover a {
  font-weight: bold;
  font-size: 12pt;
  border-bottom-width: 4px;
}

#cover p {
  font-weight: bold;
  font-size: 12pt;
}

</style>
<div id="cover" class="slide" data-slidename="cover">
  <h2>30 leaders.</h2>
  <h2>1 page each.</h2>
  <h1>One thing they wish they would have known...</h1>
  <h3>Enjoy.</h3>
  <p>Please pass this along and share with everyone.</p>
  <p>
    <a href="#">Tweet this!</a>
    or
    <a href="#">Share on Facebook!</a>
  </p>

</div>

