<style type="text/css" media="screen">
#cover {
  text-align: center;
}
#cover * {
  font-family: Museo500;
}
#cover h1 {
  font-size: 48pt;
  margin-top: 40px;
  display: block;
}
#cover h2 {
  font-size: 36pt;
  margin-top: 23px;
  margin-bottom: -24px;
}
#cover h3 {
  font-size: 60pt;
  margin-top: 0px;
  margin-bottom: 20px;
}
#cover a {
  font-weight: bold;
  font-size: 12pt;
  border-bottom-width: 4px;
}

#cover p {
  font-weight: bold;
  font-size: 12pt;
  clear: both;
  margin: 0;
  margin-bottom: 5px;
}

#cover .start {
  width: 57%;
  margin: 0 auto;
  margin-bottom: 40px
}

#cover .download {
  border-bottom: 0;
  float: left;
}

#cover .download span{
  background-image: url("./book_cover.jpg");
  display: block;
  width: 200px;
  height: 150px;
  margin-bottom:5px;
}

#cover .download label {
  border-bottom: 4px solid #3F3F3F;
}

#cover .next {
  border-bottom: 0;
  float: right;
}

#cover .next span{
  background-image: url("./start.jpg");
  display: block;
  width: 200px;
  height: 150px;
  margin-bottom:5px;
}

#cover .next label {
  border-bottom: 4px solid #3F3F3F;
}

</style>
<div id="cover" class="slide" data-slidename="cover">
  <h1>If I would have known <br>just one thing...</h1>
  <h2>30 Leaders. 1 Page Each.</h2>
<br>
  <h3>Enjoy.</h3>

  <div class="start">
    <a class="download" href="./If-I-would-have-known-just-1-thing.pdf">
      <span></span>
      <label>Download PDF</label>
    </a>

    <a class="next" href="#slide2">
      <span></span>
      <label>Read it Now</label>
    </a>

    <div style="clear:both"></div>

  </div>


  <p>Please pass this along and share with everyone.</p>
  <p>
    <a href="http://twitter.com/?status=Reading%20an%20awesome%20ebook%20%22If%20I%20would%20have%20known%20just%20one%20thing%22%20Read%20it%20free%20-%3E%20http://bit.ly/9zBRHA">Tweet this!</a>
    or
    <a href="http://www.facebook.com/sharer.php?u=http://ifiwouldhaveknownjustonething.com/&t=If%20I%20would%20have%20known%20one%20thing...">Share on Facebook!</a>
  </p>

  <!-- <p class="chromeframe" style="display:none;">
    <a href="http://www.google.com/chromeframe">Install Chrome Frame to view the slideshow</a>
  </p> -->

</div>

