<style type="text/css" media="screen">
#cover {
  text-align: center;
  background-image: url(css/cover_bg.jpg);
  background-repeat: none;
}

#cover .top {
  margin: 20px 30px;
  background-image: url(css/about_bg.png);
  background-repeat: repeat-x;
  background-position: 0px 12px;
}

#cover .intro {
  font-family: "museo-1","museo-2";
  font-weight: 300;
  color: #86685f;
  background-color: #f0ece6;
  padding: 5px 16px;
  font-size: 15pt;
  text-shadow: 1px 1px 0px #fff;
  margin: 0;
  display: inline;
}

#cover .download {
  background-image: url(css/download_btn.jpg);
  background-repeat: none;
  width: 160px;
  height: 260px;
  text-indent: -99999px;
  border: 0;

  position: absolute;
  left: 0;
  top: 216px;

  outline: none;
}

#cover .next {
  background-image: url(css/next_btn.jpg);
  background-repeat: none;
  width: 160px;
  height: 260px;
  text-indent: -99999px;
  border: 0;

  position: absolute;
  right: 0;
  top: 216px;

  outline: none;
}

#cover .share {
  margin: 0;
  position: absolute;
  left: 18px;
  bottom: 19px;

  color: #86685f;
  font-family: "museo-1","museo-2", serif;
  font-weight: 300;
  font-size: 14pt;
}
#cover .share a {
  border: none;
  font-weight: 700;
  color: #503932;
}

#cover .howto {
  margin: 0;
  position: absolute;
  right: 14px;
  bottom: 8px;
  width: 225px;
  height: 31px;
  background-image: url(css/howto_bg.jpg);
  background-repeat: no-repeat;

  font-family: "museo-sans-1","museo-sans-2", sans-serif;
  font-weight: 500;
  color: #5d3b31;
  font-size: 10pt;
  padding-top: 11px;
}
</style>

<div id="cover" class="slide" data-slidename="cover">

  <div class="top">
    <p class="intro">30 leaders. 1 page each. Enjoy.</p>
  </div>


  <a href="./If-I-would-have-known-just-1-thing.pdf" class="download">Download PDF</a>

  <!--[if lt IE 9]>
    <a href="http://www.google.com/chromeframe" class="next">Start Reading</a>
  <!-- <![endif]-->

  <!--[if !IE]><!-->
    <a href="#mac" class="next">Start Reading</a>
  <!-- <![endif]-->


  <p class="share">
    Please pass this along!

    <a href="http://twitter.com/?status=Reading%20an%20awesome%20ebook%20%22If%20I%20would%20have%20known%20just%20one%20thing%22%20Read%20it%20free%20-%3E%20http://bit.ly/9zBRHA">Tweet it</a>
    or
    <a href="http://www.facebook.com/sharer.php?u=http://ifiwouldhaveknownjustonething.com/&t=If%20I%20would%20have%20known%20one%20thing...">share it on facebook.</a>

  </p>

  <p class="howto">
    Use the arrow keys to navigate
  </p>

</div>

