<style type="text/css" media="screen">
#cover {
  text-align: center;
  background-image: url(css/cover_bg.jpg);
  background-repeat: none;
}

#cover .download {
  background-image: url(css/download_btn.jpg);
  background-repeat: none;
  width: 160px;
  height: 260px;
  text-indent: -99999px;
  border: 0;

  position: absolute;
  left: 0;
  top: 216px;

  outline: none;
}

#cover .next {
  background-image: url(css/next_btn.jpg);
  background-repeat: none;
  width: 160px;
  height: 260px;
  text-indent: -99999px;
  border: 0;

  position: absolute;
  right: 0;
  top: 216px;

  outline: none;

}




</style>
<div id="cover" class="slide" data-slidename="cover">
  <a href="./If-I-would-have-known-just-1-thing.pdf" class="download">Download PDF</a>
  <a href="#mac" class="next">Download PDF</a>
</div>

