<style type="text/css" media="screen">
#end {
  text-align: center;
}
#end * {
}
#end .thanks {
  font-size: 90pt;
  margin-top: 10px;
  margin-bottom: 25px;
  display: block;
  /*font-family: Museo700;*/
  font-family: "museo-1","museo-2", serif;
  font-weight: 700;

}
#end .stuff {
  font-size: 24pt;
  margin-top: 23px;
  margin-bottom: 25px;
  font-family: "museo-1","museo-2", serif;
  font-weight: 700;

}
#end a {
  font-weight: bold;
  font-size: 14pt;
  border-bottom-width: 4px;
}

#end p {
  font-size: 14pt;
  line-height:1.5em;
  margin-bottom:1em;
}

#end .hellothere {

}

</style>
<div id="end" class="slide" data-slidename="end">
  <div class="thanks">Thank you</div>

  <div class="stuff">
    Please share this book.<br />
    Give it to anyone.<br />
    Now, go do something awesome.
  </div>

  <p class="about">
    Book concept by <a href="http://shanemac.me">Shane Mac</a><br />
    His book, <i>Stop With The BS - Time To Get Real With Business and Careers</i>, will be out this Fall.<br />
    Join Shane on
    <a href="http://twitter.com/shanemacsays">Twitter</a> or
    <a href="http://facebook.com/shanemacsays">Facebook</a>
    for a chance to win a free copy of his book.
  </p>

  <p class="about">HTML slide design by
    <a href="http://www.sachagreif.com/">Sacha Greif</a>
  </p>

  <p class="about">
    Book edited by
    <a href="http://minibizbuzz.com/">Beth Andrus</a>
  </p>

  <p class="about">
    PDF Cover by <a href="http://mcsimov.net/">Max McSimov</a>
  </p>

  <p class="about">PDF layout by
    <a href="http://twitter.com/colbywg">Colby Gergen</a>
  </p>

  <!-- <p class="about">HTML5 Slides modified from <a href="http://code.google.com/p/html5-slides/">html5-slides</a>.
   </p> -->

  <p class="about">
    Source code for this slideshow is on <a href="http://github.com/railsjedi/know1thing">Github</a>
  </p>

  <%# <p class="hellothere">
    <a href="http://sayhellothere.com">Say Hello There</a> for your next job
  </p> %>
</div>

