<style type="text/css" media="screen">
  .intro p {
    font-size: 35px;
  }

  .intro h1 {
    color: black;
    padding: 0;
    margin: 0;
    letter-spacing: -2px;
    font-size: 96px;
  }

  .intro h2 {
    color: black;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    font-size: 40px;
    letter-spacing: -1px;
  }
</style>
<div class="slide" data-slidename="<%= slide_name %>">
  <section class="center intro">
    <p>This presentation is an HTML5 website</p>
    <p>Press <span class="key">&rarr;</span> key to advance.</p>
    <p>Zoom in/out: <span class="key">Ctrl or Command</span> + <span class="key">+/-</span></p>
    <p style="font-size: 25px">Having issues seeing the presentation? Read the <a href="disclaimer.html">disclaimer</a></p>
  </section>
</div>
