<style type="text/css" media="screen">
  #name_of_slide {

  }
</style>

<div id="name_of_slide" class="slide know" data-slidename="<%= slide_name %>">
  <hr /><hr class="vert"/>
  <header>
    Title Goes Here
  </header>
  <details>
    Author Goes Here
  </details>
  <section>
    <p>Content Goes Here</p>
  </section>
  <footer>
    About Information Goes Here
  </footer>
</div>

