<nav>
  <a href="#home" class="title home">If I would have known just one thing...</a>
  <a href="#" class="prev">Previous Slide</a>
  <a href="#" class="next">Next Slide</a>

  <%= twitter_share :label => "Tweet this Slide",
                    :url => "http://ifiwouldhaveknownjustonething.com##{slide}",
                    :text => "If I would have known just one thing... (by #{author_name})",
                    :via => defined?(author_twitter) ? author_twitter : nil,
                    :related => "sayhellothere" %>

</nav>

