<nav>
  <a href="#home" class="title home">If I would have known just one thing...</a>
  <a href="#" class="prev">Previous Slide</a>
  <a href="#" class="next">Next Slide</a>
  <a href="#" class="tweet">Tweet this Slide</a>
</nav>

