<nav>
  <div class="title">If I would have known just one thing...</div>
  <a href="#" class="prev">Previous Slide</a>
  <a href="#" class="next">Next Slide</a>
  <a href="#" class="tweet">Tweet this Slide</a>
</nav>

